<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="main.css">
    {% block headerscripts %}
    {% endblock %}
{% block header %}
{% include 'partials/header.twig' %}
{% endblock  %}
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar">
        <a href="/" class="logo"><img src="/images/jg%20logo%201.png" alt="Jungle logo"></a>
        <ul class="nav-menu">
            <li><a href="/#services">Services</a></li>
            <li><a href="/#works">Works</a></li>
            <li><a href="/contact" class="cta-button">Let's talk</a></li>
        </ul>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
{% block content %}

{% endblock %}

{% block footer %}
{% include 'partials/footer.twig' %}
{% endblock %}

{% block footerscripts %}
	{# Footer scripts #}
{% endblock %}
</body>
</html>